.explore_section .figure_box img {
  border-radius: 40px; 
  
}
.explore_section .content_entry_col {
  padding: 0 50px 0 0;
}

@media screen and (max-width: 1680.98px) {
  .explore_section .figure_box {
    margin: 0px auto;
    max-width: 400px;
  }
}

@media screen and (max-width: 989.98px) {
  .explore_section .custom_column {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .explore_section .explore_content {
    order: 2;
  }
  .explore_section .img_col {
    order: 1;
  }
  .explore_section .content_entry_col {
    padding: 0px;
    text-align: center;
  }
  .explore_section .figure_box {
    margin: 0px auto 40px;
  }
}