.product-recommendations {
  margin: 100px 0px;
  padding: 0px 15px;
}
.product-recommendations {
  display: block;
}
.product-recommendations:not(.product-recommendations--loaded) {
  padding: 0;
  margin: 0;
}
.product-recommendations__heading {
  margin: 0;
  margin-bottom: 3rem;
}

@media screen and (max-width: 1680.98px) {
  .product-recommendations {
    margin: 60px 0px;
  }
}

@media screen and (max-width: 575.98px) {
  .product-recommendations .card_collection .grid .grid__item {
    padding-right: 4px;
    padding-left: 4px;
  }
  
}





